In [1]:
#Output practice formatting columns   4.7.8
#reviewing parts of a function
#"def" creates a function followed by the function name say_hello(), colon at the end tells Python
#that the code block will follow
#Define the function +say_hello" so it prints "Hello!" when called
def say_hello():
    print("Hello!")

In [2]:
#call the function
say_hello()

Hello!

In [4]:
#adding a parameter inside of parenthesis of a new function
def say_something(something):
    print(something)

In [5]:
#call the function
say_something("Hello World!")

Hello World!

In [6]:
#pass a variable inside a function and print variable
Jane_says = "Hi, my name is Jane.  I'm Learning Python!"

say_something(Jane_says)

Hi, my name is Jane.  I'm Learning Python!

In [9]:
#define a function that calculates the percentage of students that passed both
#math and reading and returns the apssing percentage when the function is called.

def passing_math_percent(pass_math_count, student_count):
    return pass_math_count/ float(student_count) * 100

In [10]:
passing_math_count = 29370
total_student_count = 39170

In [11]:
#call the function
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [12]:
#using map() function; used for substituting each value in a series with another value
#a list of my grades
my_grades = ['B', 'C', 'B', 'D']

In [13]:
#import Pandas
import pandas as pd

#convert the my_grades to a series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [14]:
#change the grades by one letter grade
my_grades.map({'B':'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [15]:
#format() function formats the value to either one or to decimal places and adds a thousands seperator
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [16]:
#chaining map() and format() functions into one statement
#first convert grades to a series
my_grades = pd.Series([92.34, 84.56, 86.78, 98.32])
my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [17]:
#format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object

In [20]:
# 4.9.3  Object Oriented Programming examples

class Cat:
    def __init__(self, name):
        self.name = name

# keyword 'class' is used to create a class
# __init__ method is a special method called a "class constructor" and is called every time a 
# new instance of the class is created.  This method takes two arguments: 'self' and 'name'.  
# 'self' refers to a specific cat and 'name' will be specified each time a new Cat object is created.

In [19]:
first_cat = Cat('Felix')
print(first_cat.name)

Felix

In [21]:
second_cat = Cat('Garfield')
print(second_cat.name)

Garfield

In [22]:
# this class has three attributes: 'name', 'color', and 'sound'
# also contains a method or funcion associated with the object
# this means an object created from this 'Dog' class can now perform an action
#through the 'bark' method. 

class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound
    def bark(self):
        return self.sound + ' ' + self.sound

In [23]:
first_dog = Dog('Fido', 'brown', 'woof!')

print(    first_dog.name)
print(first_dog.color)

first_dog.bark()

# the 'first_dog' 'bark' returns the sound property twice because the 'sound'
# property is 'woof!' for calling the object, then calling the 'bark' method
# returns 'woof! woof!'

Fido
brown

'woof! woof!'

In [24]:
second_dog = Dog('Lady', 'blonde', 'arf!')
print(    second_dog.name)
print(second_dog.color)

second_dog.bark()

Lady
blonde

'arf! arf!'