In [13]:
#list of high schools short
high_school = ["Hernandez High School", "Figueroa High School", 
                "Wilson High School", "Wright High School"]
#print list of high schools
for school in high_school:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [10]:
#dictionary
high_school_types = [{"High School": "Griffin", "Type": "District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
#print each value in dictionary
for i in high_school_types:
    print(i)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [11]:
#list of high schools long
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", 
                "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School",
                "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", 
                "Johnson High School", "Ford High School", "Thomas High School"]

In [12]:
#add the Pandas dependancy
import pandas as pd

In [18]:
#create a Pandas Series from a list
school_series = pd.Series(high_schools)
#just type "school_series" and output has index 
school_series
#to print just the items from the series
i=0
for i in school_series:
    print(i)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [20]:
#a dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name": "Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name": "Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name": "Griffin High School", "type": "Charter"}]

In [21]:
#convert array, or list of dictionaries to a Data Frame
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [22]:
#alternate way to create same Data Frame from the dictionary
#Three seperate lists of information on high schoolsand add each list to to an empty Data Frame
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School", 
               "Shelton High School", "Hernandez High School", "Griffin High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [24]:
#Initialize a new DataFrame
schools_df = pd.DataFrame()

#add the list to the new DataFrame
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["School Type"] = type_of_school

#print the dataframe
schools_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [26]:
#third way to create a Data Frame is to create a Python Dictionary from the three lists
high_schools_dict = {'School ID': school_id, 'school_name': school_name, 'type': type_of_school}
high_school_df = pd.DataFrame(high_schools_dict)
high_school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [29]:
#to get the column names of a DataFrame use 'df.columns' on to dataFrame 'school_df'
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [30]:
#to get the indicies,or RangeIndex, of the DataFrame use 'df.index' on to dataFrame 'school_df'
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [31]:
#to get the vales of the DataFrame use 'df.values' on to dataFrame 'school_df'
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [33]:
#Skill drill using lists and creating dataframe
school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", 
                "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School",
                "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", 
                "Johnson High School", "Ford High School", "Thomas High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter","Charter", "Charter", 
                 "District", "Charter", "Charter", "Charter", "District", "District", "District", "Charter"]

#Initialize a new DataFrame
hs_schools_df = pd.DataFrame()

#add the list to the new DataFrame
hs_schools_df["School ID"] = school_id
hs_schools_df["School_name"] = school_name
hs_schools_df["type"] = type_of_school

#print the dataframe
hs_schools_df

    School ID            School_name      type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter